:root {
  --background-body-color: #e5e5e5;
  --footer-background-color: #f7f7f7;
  --logo-home-library-movie-search-color: #ffffff;
  --accent-home-color: #ff001b;
  --footer-text-color: #545454;
  --favorite-heart-color: #ff6b08;
  --pagination-number-color: #000000;
  --modal-card-description-movie: #8c8c8c;
  --addtowatch-btn-bcg-color: #ff6b01;
  --rating-card-color: #ff6b01;
}
