<header class="section-header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg width="24" height="24">
          <use>hhh</use>
        </svg>
        <span class="name">Filmoteka</span>
      </a>
      <ul class="position">
        <li>
          <a href="./index.html" class="home">Home</a>
        </li>
        <li>
          <a href="/src/partials/library.html" class="home">My library</a>
        </li>
      </ul>
    </nav>
    <form class="form" role="search">
      <input
        class="input"
        type="text"
        name="query"
        placeholder="Search movies by name"
        autocomplete="off"
      />
      <button type="submit">
        <svg width="12" height="12">
          <use>fffff</use>
        </svg>
      </button>
    </form>
  </div>
</header>
<main>
  <section class="container">
    <h1 class="visually-hidden">Hidden title</h1>
    <ul class="home-gallery">
      <!-- Карточки изображений -->
    </ul>
  </section>
  <section>Pagination</section>
</main>
